@inherits WebViewPage 
            
<div id="footer">
  <div class="container">
    <p class="muted credit">
      Built with <a href="https://github.com/AutoMapper/AutoMapper" target="_blank">automapper</a>, 
      <a href="https://github.com/jetheredge/SquishIt" target="_blank">squishit</a>,
      <a href="https://code.google.com/p/autofac/" target="_blank">autofac</a> and
      <a href="https://github.com/SamSaffron/MiniProfiler" target="_blank">miniprofiler</a>.
      Code licensed under the 
      <a href="http://opensource.org/licenses/mit-license.php" target="_blank">The MIT License</a>.
    </p>
  </div>
</div>
