@inherits WebViewPage 

<title>@Html.FieldOrName("BrowserTitle")</title> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">    
<meta name="description" content="@Html.Sitecore().Field("MetaDescription", new { DisableWebEdit = true })">
<meta name="keywords" content="@Html.Sitecore().Field("MetaKeywords", new { DisableWebEdit = true })">
