@inherits WebViewPage 
    
<div class="main-content">         
  <div class="page-header">
    <h2>Fail</h2>
    <p>We could not send the email</p>
  </div>
  <div class="row">
    <section class="span9" role="main">
      @Html.Sitecore().Controller("Common", "Breadcrumb")
      <div>Sorry! :(</div>
    </section>
    <aside class="span3" role="complementary">
    </aside>
  </div>
</div>