@inherits WebViewPage 
    
<div class="main-content">         
  <div class="page-header">
    <h2>Thank you</h2>
    <p>You're a star</p>
  </div>
  <div class="row">
    <section class="span9" role="main">
      @Html.Sitecore().Controller("Common", "Breadcrumb")
      <div>Thank you!</div>
    </section>
    <aside class="span3" role="complementary">
    </aside>
  </div>
</div>