<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="ScBootstrap.Logic.Pipelines.AutofacConfig, ScBootstrap.Logic" />
        <processor type="ScBootstrap.Logic.Pipelines.AutoMapperConfig, ScBootstrap.Logic" />
        <processor type="ScBootstrap.Logic.Pipelines.MiniProfilerConfig, ScBootstrap.Logic" />
      </initialize>
      <httpRequestBegin>
        <processor type="ScBootstrap.Logic.Pipelines.MiniProfilerBeginRequest, ScBootstrap.Logic" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.StartMeasurements, Sitecore.Kernel']" />
      </httpRequestBegin>
      <httpRequestEnd>
        <processor type="ScBootstrap.Logic.Pipelines.MiniProfilerEndRequest, ScBootstrap.Logic" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.StopMeasurements, Sitecore.Kernel']" />
      </httpRequestEnd>
    </pipelines>
    <settings>
      <setting name="EnableMiniProfiler" value="false" />
    </settings>
  </sitecore>
</configuration>